#:schema https://mise.jdx.dev/schema/mise.json

[settings]
lockfile = true

[env]
KERL_BUILD_DOCS = 'yes'
ERL_AFLAGS = '-kernel shell_history enabled'

[tools]
erlang = '28.1.1'
elixir = '1.19.1-otp-28'
postgres = '18.0'
nodejs = '25.0.0'

[vars]
pg_data = 'tmp/postgres/data'
pg_ctl = 'pg_ctl -D {{vars.pg_data}} -l tmp/postgres.log'

[tasks."pg:start"]
description = "Starts the local postgres instance"
run = "{{vars.pg_ctl}} status || {{vars.pg_ctl}} start"

[tasks."pg:stop"]
description = "Stops the local postgres instance"
run = '''
{{vars.pg_ctl}} status && {{vars.pg_ctl}} stop || echo "Server already not running"
'''

[tasks."pg:setup"]
description = "Sets up the local postgres instance"
run = ["mkdir -p tmp/", "initdb --username=postgres {{vars.pg_data}}"]
